
<h1>Login</h1>

<div class='alerts'>
	<p style='color: green'><%= flash[:success] %></p>
	<p style='color:red'><%= flash[:error] %></p>
</div>


<%= simple_form_for :session, url: {action: 'create'} do |f|%>
	<%= f.input :email, input_html: {class: 'form-control', placeholder: "Email"}, autofocus: true %>
	<%= f.input :password, input_html: {class: 'form-control', placeholder: "Your Password"} %>
	<%= f.button :submit, value: "Login", class: 'btn btn-primary' %>
<% end %>

<a href="/register" class='btn btn-link'>Register</a>
